<div id="<%= dom_id message %>">
  <p class="d-flex justify-content-center">
    <strong ><%= message.title %></strong>
  </p>

  <p class="d-flex justify-content-center bg-light">
    <%= message.content %>
  </p>

  <p class="d-flex justify-content-end">
    <strong>~</strong>
    <%= message.author %>
  </p>
</div>